* {
-webkit-tap-highlight-color: transparent;
}
body {
background: linear-gradient(90deg, rgb(0, 15, 80), rgb(0, 55, 100));
color: whitesmoke;
font-family: Verdana;
margin: 0;
overflow-x: hidden;
}
.header {
background: linear-gradient(75deg, blue, green, rgb(0, 205, 50));
margin: 0;
height: 2.6em;
width: 100%;
position: fixed;
}
.side-div-div {
position: fixed;
width: 16%;
z-index: 20;
}
.side-div-div ul li:hover {
list-style-type: "O ";
}
.a-link3 {text-decoration: underline;}
.a-links, .playlist-shower {
transition: all 0.2s ease;
padding: 2px;
}
.a-links:hover {
border-radius: 100px;
background-color: yellow;
color: darkblue;
}
.a-links {
font-weight: 650;
text-align: center;
display: block;
width: 100%;
color: rgb(0, 0, 100);
font-size: 10pt;
color: yellow;
}
.a-link1, .a-link2 {
display: inline-block;
width: 40px;
padding: 5px;
padding-top: 6.5px;
border: 2.5px yellow solid;
border-radius: 100px;
margin: 2px;
user-select: none;
pointer: default;
-webkit-tap-highlight-color: transparent;
user-drag: none;
}
.a-link1:hover:after, .a-link2:hover:after {
opacity: 1;
}
.a-link1:after, .a-link2:after {
background-color: yellow;
color: darkblue;
font-size: 100%;
position: absolute;
white-space: nowrap;
padding: 1px 4px 2px 4px;
opacity: 0;
top: 50px;
left: 40px;
border: 1px solid darkblue;
z-index: 20;
transition: opacity 0.25s ease;
border-radius: 15px; 
}
.a-link1:after {content: "Visit my Instagram!";}
.a-link2:after {content: "Visit my YouTube channel!";}
.a-link1:hover, .a-link2:hover {
transform: scale(115%);
background-color: transparent;
box-shadow: 2.5px 3px 5px yellow;
border: 0.05px yellow solid;
}
.a-link1:active, .a-link2:active {
transform: scale(90%) scaleX(102.5%);
box-shadow: 2px 4px 30px yellow;
border: none;
}
.a-link1:hover {background-color: deeppink;}
.a-link2:hover {background-color: darkred;}
.a-link1:active {background-color: purple;}
.a-link2:active {background-color: rgb(100, 0, 0);}
.outer-social-links {height: 60px;}
.main-div {
padding: 0;
height: 100%;
padding-bottom: 70px;
}
iframe, .control10v4-image, .newtabhtml-image, .seclocker-image {
display: block;
transition: all 1s ease;
z-index: 0;
animation: animation-for-iframe 2s ease-in-out infinite running;
border-radius: 10px;
margin-top: 10px;
}
@keyframes animation-for-iframe {
25% {
box-shadow: 6px 6px 3px black, -8px -8px 8px yellow;
}
50% {
box-shadow: -6px -6px 3px black, 8px 8px 8px yellow;
}
75% {
box-shadow: 6px 6px 3px black, -8px -8px 8px yellow;
}
0%, 100% {
box-shadow: -6px -6px 3px black, 8px 8px 8px yellow;
}
}
.iframe1, .iframe2, .iframe3, .control10v4-image, .newtabhtml-image, .seclocker-image {z-index: 0;}
.play-pause-btn:hover, .stop-btn:hover {
cursor: pointer;
}
@media screen and (max-width: 500px) {
.iframe1, .iframe2, .iframe3 {
transform: scale(70%);
}
}
.music-playlist-list {transition: font-size 1s ease;}
@media screen and (max-width: 720px) {
body {
overflow-x: hidden;
}
.music-playlist-list {font-size: 12px;}
}
@media screen and (max-width: 501px) {
.main-div {padding: 0;}
}
@media screen and (max-width: 500px) {
.hr1 {margin-bottom: 300px;}
.iframe1, .iframe2, .iframe3 {transform: scale(70%);}
}
@media screen and (max-width: 412px) {
.iframe1, .iframe2, .iframe3 {transform: scale(100%);}
}
@keyframes fade-in-out {
0% {opacity: 1;}
50% {opacity: 0.5;}
100% {opacity: 1;}
}
@media screen and (min-width: 1700px) {
.section-desc {font-size: 20px; margin-bottom: 25px;}
.iframe1, .iframe2, .iframe3 {margin-top: -15px;}
.control10v4-image, .newtabhtml-image, .seclocker-image {transform: scale(110%); margin-bottom: 25px;}
}
@media screen and (max-width: 501px) {
.main-div {padding: 0;}
}
@media screen and (max-width: 975px) {
.section-desc {font-size: 20px; padding-left: 8%; padding-right: 8%;}
.hr1 {margin-bottom: 230px;}
.side-div-div {width: 164px;}
}
@media screen and (max-width: 900px) {
.hr1 {margin-bottom: 250px;}
.control10v4-image, .newtabhtml-image, .seclocker-image {transform: scale(75%);}
.iframe1, .iframe2, .iframe3 {transform: scale(78%);}
}
.music-playlist-list {transition: font-size 1s ease;}
@media screen and (max-width: 720px) {
.music-playlist-list {font-size: 12px;}
}
@media screen and (max-width: 415px) {
.control10v4-image, .newtabhtml-image, .seclocker-image {transform: scale(45%);}
}
@media screen and (max-width: 370px) {
.control10v4-image, .newtabhtml-image, .seclocker-image {transform: scale(35%);}
}
@media screen and (max-width: 351px) {
.control10v4-image, .newtabhtml-image, .seclocker-image {transform: scale(20%);}
}
.hr1 {transition: margin-bottom 1s ease;}
.header {z-index: 5;}
h1, h2, h3, h4 {transition: font-size 1s ease;}
.section-desc {
display: block;
width: 70%;
transition: font-size 1s ease;
text-wrap: balance;
padding-left: 12%;
padding-right: 12%;
}
@keyframes bigger-inputfield {
0% {transform: scale(100%);}
100% {transform: scale(600%);}
}
@keyframes music-playlist-div-anim {
from {opacity: 0; right: -200px;}
to {opacity: 1;}
}
@keyframes music-playlist-div-rev-anim {
from {opacity: 1;}
to {opacity: 0; right: -200px;}
}
.music-playlist {
width: 100%;
height: 100%;
position: fixed;
z-index: 1;
background-color: rgba(125, 120, 125, 0.9);
/* display: none; (property used in html inline styles) */
}
.music-playlist-div {
transition: all 0.5s linear;
border-radius: 15px;
overflow-y: scroll;
position: relative;
top: 120px;
bottom: 0;
height: 55vh;
animation: music-playlist-div-anim 1.2s ease;
user-select: none;
text-align: right;
right: 15vw;
margin: 0;
}
.song-names {
font-size: 12pt;
}
.music-playlist-div-h2 {
position: fixed;
top: 115px;
right: 15vw;
margin: 0;
font-size: 30px;
animation: music-playlist-div-anim 1.2s ease;
}
.playlist-shower {
color: yellow;
padding: 2px;
display: block;
text-align: center;
cursor: pointer;
user-select: none;
border-radius: 50px;
font-weight: 550;	
}
.playlist-shower:hover {
background-color: yellow;
color: darkblue;
}
.gear-icon:hover {
background-color: rgba(65, 65, 65, 0.1);
border-radius: 100px;
}
@keyframes gear-rotate {
from {/* transform: rotate(0deg); */}
to {transform: rotate(90deg);}
}
@keyframes gear-rotate-reverse {
from {/* transform: rotate(0deg); */}
to {transform: rotate(-90deg);}
}
@keyframes fade-in {
from {opacity: 0;}
to {opacity: 1;}
}
@keyframes fade-out {
from {opacity: 1;}
to {opacity: 0;}
}
kbd {
border-radius: 4px;
background-color: rgb(50, 50, 50);
color: whitesmoke;
padding: 1px 6px 4px 4px;
box-shadow: -1.4px -1.4px 0.6px rgb(120, 120, 120) inset, -1px -1px 10px -2px rgb(25, 25, 25);
user-select: none;
}
.song-time {
color: yellow;
font-weight: 600;
}
.audio-controller {
vertical-align: middle;
outline: none;
user-select: none;
}
.volume-controller {
outline: none;
}
.volume-slider-div {
background-color: gold;
border-radius: 200px;
position: relative;
padding: 2px;
transform: rotate(-90deg);
bottom: 125px;
left: 0;
margin-left: 53vw;
width: 150px;
opacity: 0;
transition: opacity 0.2s;
}
.keyboard-bindings {
display: none;
position: fixed; width: 100vw;
height: 100vh;
background: rgba(120, 120, 120, 0.7);
color: white;
animation: fade-in 1s ease;
z-index: 1;
}
.play-pause-shower {
margin-left: 50vw;
margin-right: 50vw;
width: 30px;
height: 30px;
display: none;
cursor: default;
top: 80vh;
position: fixed;
padding: 15px;
background: rgba(0, 0, 255, 0.7);
color: white;
border-radius: 100px;
animation: fade-in 0.225s ease;
transform: scale(150%);
z-index: 100;
}
.prev-track-shower {
display: none;
cursor: default;
top: 50vh;
left: 25vw;
position: fixed;
padding: 10px;
background: rgba(0, 0, 255, 0.7);
color: white;
border-radius: 100px;
animation: fade-in 0.225s ease;
transform: scale(150%);
z-index: 100;
}
.forw-track-shower {
display: none;
cursor: default;
top: 50vh;
right: 25vw;
position: fixed;
padding: 10px;
background: rgba(0, 0, 255, 0.7);
color: white;
border-radius: 100px;
animation: fade-in 0.225s ease;
transform: scale(150%);
z-index: 100;
}
.muted-audio-shower {
margin-left: 50vw;
margin-right: 50vw;
width: 30px;
height: 30px;
display: none;
cursor: default;
top: 80vh;
position: fixed;
padding: 15px;
background: rgba(0, 0, 255, 0.7);
color: white;
border-radius: 100px;
animation: fade-in 0.225s ease;
transform: scale(150%);
z-index: 100;
}
.audio-div {
height: 45px;
position: fixed;
left: 10%;
right: 10%;
bottom: 0;
z-index: 2;
background-color: goldenrod;
border-radius: 30px;
width: 80%;
padding: 2px;
}
.gear-icon {
cursor: pointer;
display: inline;
}
input[data-audio-range] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: transparent;
width: 55%;
}
input[data-audio-range]:focus {
outline: none;
}
/* --------- CHROME PROPERTIES -------- */
input[data-audio-range]::-webkit-slider-runnable-track {
background-color: yellow;
border-radius: 80px;
transition: all 0.2s ease;
height: 25px;
position: relative;
top: 8px;
bottom: 0;
left: 0;
right: 0;
}
input[data-audio-range]::-webkit-slider-runnable-track:hover {
background-color: rgb(225, 200, 40);
}
input[data-audio-range]::-webkit-slider-runnable-track:active {
background-color: rgb(205, 155, 35);
}
input[data-audio-range]::-webkit-slider-thumb {
-webkit-appearance: none;
background-color: whitesmoke;
width: 30px;
height: 30px;
border-radius: 100%;
position: relative;
top: -2.5px;
bottom: 0;
left: 0;
right: 0;
transition: all 0.25s ease;
}
input[data-audio-range]::-webkit-slider-thumb:hover {
background-color: gold;
border: 4px yellow solid;
}
input[data-audio-range]::-webkit-slider-thumb:active {
background-color: orange;
border: 2px yellow solid;
box-shadow: 0px 10px 15px yellow, 0px -10px 15px yellow;
}
.volume-controller::-webkit-slider-thumb {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
height: 20px;
width: 20px;
background-color: rgb(215, 180, 80);
border-radius: 100px;
transition: all 0.25s ease;
}
.volume-controller::-webkit-slider-thumb:hover {
background-color: orange;
}
.volume-controller::-webkit-slider-thumb:active {
background-color: rgb(150, 110, 10);
}
/* ---------------------- */
/*  ------ MOZILLA FIREFOX PROPERTIES ------ */
input[data-audio-range]::-moz-range-track {
background-color: yellow;
border-radius: 80px;
transition: all 0.25s ease;
height: 25px;
position: relative;
top: 8px;
bottom: 0;
left: 0;
right: 0;
}
input[data-audio-range]::-moz-range-track:hover {
background-color: rgb(225, 200, 40);
}
input[data-audio-range]::-moz-range-track:active {
background-color: rgb(205, 155, 35);
border: 4px gold solid;
}
input[data-audio-range]::-moz-range-thumb {
background-color: whitesmoke;
width: 30px;
height: 30px;
border-radius: 100%;
position: relative;
top: -2.5px;
bottom: 0;
left: 0;
right: 0;
transition: all 0.25s ease;
}
input[data-audio-range]::-moz-range-thumb:hover {
background-color: gold;
border: 4px yellow solid;
width: 26px;
height: 26px;
top: -0.5px;
}
input[data-audio-range]::-moz-range-thumb:active {
background-color: orange;
width: 26px;
height: 26px;
top: -0.5px;
border: 2px yellow solid;
box-shadow: 0px 10px 15px yellow, 0px -10px 15px yellow;
}
.volume-controller::-moz-range-thumb {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
height: 20px;
width: 20px;
background-color: rgb(215, 180, 80);
border-radius: 100px;
transition: all 0.25s ease;
}
.volume-controller::-moz-range-thumb:hover {
background-color: orange;
}
.volume-controller::-moz-range-thumb:active {
background-color: rgb(150, 110, 10);
}
/* --------------- */
@keyframes volume-thumb-leaving {
0% {width: 130px; transform: rotate(0deg);}
100% {width: 500px; transform: rotate(720deg);}
}
.volume-controller {
transition: all 1s ease;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
height: 16px;
width: 130px;
background-color: yellow;
border-radius: 100px;
}
.volume-controller:hover {
opacity: 1;
}
@keyframes header-animation {
0% {
transform: skew(0deg, 0deg);
}
50% {
transform: skew(-3deg, 1deg);
}
100% {
transform: skew(-8deg, 4deg);
}
}
.header h1 {
animation-name: header-animation;
animation-duration: 6s;
animation-delay: 1.25s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
color: lime;
vertical-align: top;
margin-top: 0;
margin-bottom: 0;
display: inline-block;
text-shadow: 0px 2px 20px black;
}
.header h2 {
animation-name: header-animation;
animation-duration: 8s;
animation-delay: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
color: darkblue;
vertical-align: bottom;
margin: 0;
display: inline-block;
text-shadow: 0px 0px 1.25px black;
}
